span {
    border: solid black 2px;
    display: inline-block;
    width: 50px;
}

#span1 {
    transform: rotateZ(-45deg) translateX(25%);
    margin: 15px ;
}

#span2 {
    transform: rotateZ(45deg) translateX(25%);
}